{% extends 'cards/base.html' %}

{% load static %}

{% block content %}

	<h1 class="row offset-md-4 col-md-4 justify-content-center">Historique de révision</h1>
    <div class="table-responsive">
	<table class="table table-hover">
        <tr>
            <th>Question</th>
            <th>Réponse</th>
            <th>Evaluation</th>
            <th>Date et heure</th>
        </tr>

        {% for card in cards %}
        <tr>
            <td>{{ card.card.question }}</td>
            <td>{{ card.card.answer }}</td>
            <td>{{ card.difficulty }}</td>
            <td>{{ card.date_time }}</td> 
        </tr>
        {% endfor %}
        
    </table>
    </div>


{% endblock %}