{% extends 'cards/base.html' %}

{% load static %}

{% block content %}

	<h1>Historique de révision</h1>

	<table>
        <tr>
            <th>Question</th>
            <th>Réponse</th>
            <th>Autoévaluation</th>
            <th>Date et heure</th>
        </tr>

        {% for card in cards %}
        <tr>
            <td>{{ card.card.question }}</td>
            <td>{{ card.card.answer }}</td>
            <td>{{ card.difficulty }}</td>
            <td>{{ card.date_time }}</td> 
        </tr>
        {% endfor %}
        
    </table>


{% endblock %}