{% extends 'cards/base.html' %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}
  Bonjour {{ user.username }}!
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'accounts:login' %}">Log In</a>
{% endif %}


	{% if user.is_authenticated %}

	  <a href="{% url 'accounts:logout' %}">Déconnexion</a>


		<h2><a href="{% url 'cards:create' %}">Création</a></h2>

		<h2><a href="{% url 'cards:history' user=user.id %}">Historique de révision</a></h2>

	{% endif %}
  
  <div>
		{% for package in packages %}
		    <div>
		        <h3><a href="{% url 'cards:learn' package=package.name %}">{{ package.name }}</a></h3>
		   
		    </div>
		  {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
		{% endfor %}
  </div>

{% endblock %}


