{% extends 'cards/base.html' %}

{% load static %}

{% block content %}



  <div class="row">
			{% for package in packages %}
		    <div class="col-md-4 text-center my-4">
		        <a href="{% url 'cards:learn' package=package.name %}">
		          <img class="img-responsive w-100" width="400" height="350" src="{% static 'cards/img/img_packages/'%}{{forloop.counter}}illustration.jpg" alt="{{ package.name }}">
			        </a>

			        <div class="alert alert-warning" role="alert">
  							 <a href="{% url 'cards:learn' package=package.name %}" class="alert-link">{{ package.name }}</a>
							</div>
		       

		    </div>
		  {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
		{% endfor %}

{% endblock %}

