{% extends 'cards/base.html' %}

{% load static %}

{% block content %}
    <div id="question">
	   <h1>Testez-vous</h1>

        {% for card in cards %}
        <p>{{card.question}}</p>

        <button onclick="DisplayAnswer()">Afficher la réponse</button>


    </div>

    <div id="answer">
        <p>{{card.answer}}</p>

      <!---  <form method="post" action="{% url 'learning_stat' %}">
            {% csrf_token %}
            <i class="far fa-square"></i> 
            <input type="hidden" name="card" value="{{ card.id }}" />             
            <input type="submit" name="status" value="OK"/>  

        </form>


        <form method="post" action="{% url 'learning_stat' %}">
            {% csrf_token %}
            <i class="far fa-square"></i> 
            <input type="hidden" name="card" value="{{ card.id }}" />             
            <input type="submit" name="status" value="MEH"/>     
        </form>

        </form>
        <form method="post" action="{% url 'learning_stat' %}">
            {% csrf_token %}
            <i class="far fa-square"></i> 
            <input type="hidden" name="card" value="{{ card.id }}" />             
            <input type="submit" name="status" value="NOK"/>     
        </form>
--->
    </div>

    {% endfor%}


    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <script>
        function DisplayAnswer(){
            document.getElementById("answer").style.opacity = "1";
        }
    </script>

{% endblock %}